* {
  box-sizing: border-box;
}

body {
  background-color: rgb(211, 211, 211);
}

.crumbs {
  border-bottom: 1px solid black;
  padding: 5px;
  background-color: slategray;
}

.crumbs ul {
  text-align: center;
  list-style: none;
}

main {
  color: steelblue;
}

#contact-info {
  font-style: italic;
  font-weight: bold;
}

.resume-p {
  font-style: italic;
  font-weight: bold;
}

footer {
  background-color: slategray;
  color: white;
  clear: both;
  padding: 5px;
  margin: 10px;
  text-align: right;
}
